<div class="text-center">
  <h1 id="greeting">Welcome to the Task Manager</h1>
  <a class="btn btn-info" href="/tasks">Task Index</a>
  <a class = "btn btn-success" href="/tasks/new">New Task</a>
</div>
