<div class="input-group input-group-lg">
  <form action="/tasks" method="post">
    <p>Enter a new task:</p>
    <span class="input-group-addon" id="basic-addon1">Task</span>
    <input type="text" class="form-control" placeholder="Task Name" aria-describedby="basic-addon1" name='task[title]'>
    <textarea rows="4" cols="50" placeholder="Description" name='task[description]'></textarea><br/>
    <input class="btn btn-success" value='submit' type='submit'/>
  </form>
</div>
